.container{
  margin: auto;
  width: 70%;
  text-align: center;
}
.dice{
  display: inline-block;
  text-align: center;
}
body{
  background-color: skyblue;
}
h1{
  font-size: 8rem;
  font-family: "Lobster",cursive;
  text-shadow: 15px 0 #232931;
  color: pink;
  margin: 30px;
}
img{
  width: 80%;
}
p{
  font-family: "Indie Flower",cursive;
  font-size: 2rem;
  color: slateblue;
}
footer{
  text-align: center;
  margin-top: 5%;
  color: slateblue;
  font-family: "Indie Flower",cursive;
  font-size: 3rem;
}